".source.ts":
  "$":
    "prefix": "$"
    "body": "$(${1:document})"

	"remove":
    "prefix": "remove"
    "body": "remove()"

  "remove":
    "prefix": "remove"
    "body": "remove(${1:document})"

  "move":
    "prefix": "move"
    "body": "move(${1:document}, ${2:document}, ${3:position})"

  "move_to":
    "prefix": "move_to"
    "body": "move_to(${1:document}, ${2:position})"

  "move_here":
    "prefix": "move_here"
    "body": "move_here(${1:document}, ${2:position})"
